// default-styling

body {
    font-family: "metropolis-light";
    font-weight: $font-weight-base;
    font-size: 11pt;
    line-height: $lineheight-base;
    background-color: white;
    color: $body-color;
}

#bold {
    font-family:"metropolis";
    font-size: 14pt;
    
    
}

#eco {
    color:#6E817B;
}

#was {
    color:#90BAAC;
}

#rec {
    color:#E0BE5D;
}



#markering {
    font-family:"Nunito" , sans-serif !important;
    font-style: bold;
    font-size:22px;
    
}

#markering {
    background-color:#A4C1B8;
    padding-top: -3px;
    border-radius: 0.5em;
    width: fit-content;
}

#markering2 {
    background-color:#FFF0B4;
    padding-top: -3px;
    border-radius: 0.5em;
    width: fit-content;
    font-family:"Nunito" , sans-serif !important;
    font-style: bold;
    font-size:22px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
}

@font-face {
    font-family:"norwester";
    src:url("../fonts/norwester.otf");
}

@font-face {
    font-family:"metroplis";
    src:url("../fonts/Metropolis-Regular.otf");
}

@font-face {
    font-family:"metroplis-light";
    src:url("../fonts/Metropolis-Light.otf");
}

@font-face {
    font-family:"metroplis-thin";
    src:url("../fonts/Metropolis-Thin.otf");
}

@font-face {
    font-family:"metroplis-bold";
    src:url("../fonts/Metropolis-SemiBold.otf");
}



.norwester {
    font-family: "norwester";
    line-height: 22pt;
    font-size: 14pt;
}

.nunito {
    font-family: "Nunito", sans-serif;
    line-height: 22pt;
    font-size: 14pt;
    
    font-weight: bold;
}

.nunitoreg {
    font-family: "Nunito", sans-serif;
    line-height: 22pt;
    font-size: 12pt;
    font-style : normal;
    font-weight: bold;
}

.nunitolig {
    font-family: "Nunito", sans-serif;
    line-height: 22pt;
    font-size: 10pt;
    font-weight: bold;
}

.metro {
    font-family: "metropolis", sans-serif;
    line-height: 22pt;
    font-size: 14pt;
    font-weight: normal;
}

.metro1 {
    font-family: "metropolis", sans-serif;
    line-height: 22pt;
    font-size: 12pt;
    font-weight: thin;
}

.metro2 {
    font-family: "metropolis", sans-serif;
    line-height: 22pt;
    font-size: 10pt;
    font-weight: thin;
}

.logo{
    
    margin-left: 65px;
    width:80%;
}

.inleiding {
    font-style: italic;
    line-height: 16px;
    color: #6E817B;
    font-size:12pt;
    font-family:"metropolis-thin", sans-serif;

}

.onderdelen {
   
    margin-top:40px;
    width: 100%;
    display:block;
    
    

}
.onder {
    width: 35%;
    margin-left:110px;
    

}

.container_onderdelen {
    margin-top:20px;
    
    

}

.tool {
    width:250px;
}
.web_kleur {
    margin-left:-30px;
    width: 150%;
}
.logo_nav {
    width: 45px;
}

h1 {
    font-weight: $font-weight-light;
    font-family:"norwester";
    font-size: 40pt;
    padding-bottom:100px;
    margin-top: 5px;
    color:#6E817B;
    }

    .kleuren {
        font-weight: $font-weight-light;
        font-family:"norwester";
        font-size: 40pt;
        padding-bottom:100px;
        margin-top: 5px;
        color:#FFD161;
    }

.variaties_2 {
    width:200px;
    margin-left:80px;
}

.donts {
    width : 550px;
    position: relative;
    position: -20px;
}

.primary {
    width:100%;
    padding-left:9px;
    margin-left:-20px;
}

.container_1 {
    padding-right:35px;
    padding-left:35px;
    padding-top: 100px;
}

.tekst{
    padding-right:15%;
}

.min_ruimte {
    width: 100%;
}

.min_ruimte2 {
    width: 150%;
}

.ruimte_img {
    width: 90%;
}

.fontstijl {
    margin-left:-35px;
}



.min_grootte {
width : 70%;
 }



h2 {
    font-style: bold;
    font-family: 'Nunito', sans-serif; 
    font-size: 16pt;
    margin: 2rem 0 1rem;
    color:#E0BE5D;
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}
a {
    text-decoration: none;
    color: black;
    border-bottom: dotted 1px $body-link;
    &:hover{
        color: $body-link;
        text-decoration: none;
        border-bottom: solid 1px $body-link;
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    }    
  }
}

.logo_1 {
    padding-top:10px;
}

.min_ruimte {
    margin-top:45px;
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $mycolor-5;
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}