// default-styling

body {
    font-family: "metropolis";
    font-weight: $font-weight-base;
    font-size: 12pt;
    line-height: $lineheight-base;
    background-color: white;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
}

@font-face {
    font-family:"norwester";
    src:url("../fonts/norwester.otf");
}

@font-face {
    font-family:"metroplis";
    src:url("../fonts/Metropolis-Regular.otf");
}



h1 {
    font-weight: $font-weight-light;
    font-family:"norwester";
    font-size: 34pt;
    margin-bottom:50px;
    margin-top: 40px;
    padding-left: 10px;
   


    color: #3b4643;
}

.variaties_2 {
    width:200px;
    margin-left:40px;
}

.donts {
    width : 550px;
}

.primary {
    width:100%;
    padding-left:9px;
    margin-left:5px;
}

.container_1 {
    padding:100px;
}

.tekst {
    padding: 30px;
}

h2 {
    font-weight: semibold;
    font-family: 'Nunito', sans-serif; 
    font-size: 16pt;
    margin: 2rem 0 1rem;
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}
a {
    text-decoration: none;
    color: black;
    border-bottom: dotted 1px $body-link;
    &:hover{
        color: $body-link;
        text-decoration: none;
        border-bottom: solid 1px $body-link;
    }
    &:active{
        background-color: $body-link;
        color: $color-white;
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: $mycolor-5;
        margin-right: 18px;
    }    
  }
}

.logo_1 {
    padding-top:10px;
}

.min_ruimte {
    margin-top:45px;
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;
    li {
      padding-left: 25px;
      text-indent: -25px;
      margin-bottom: 0.5rem;
      &:before {
        counter-increment: i;
        content: counter(i);    
        padding: 3px 6px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: $mycolor-5;
        color: $color-white;
        font-family: $myfont-family-title;
        font-weight: $font-weight-bold;
      }    
    }
  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}